.titles{
    font-size: 30px ;
}
.messa {
    text-align: center;
    margin-left: 100%;
}
.forms{
    padding-top: 50px;
}
.butons{
    padding: 10px 30px 30px 30px ;
    margin-left: 35%;
    margin-top: 20px;
}