.but{
    margin-left: 50%;
    margin-top: 20px;
    padding: 10px 50px 30px 50px;
}
.title{
    font-size: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
}
.mess {
    font-weight: bold;
    font-size: 20px;
    color: green;
    text-align: center;
    margin: 20px;
}
